DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ mysql_databases[0].name }}',
        'USER': '{{ mysql_users[0].name }}',
        'PASSWORD': '{{ mysql_users[0].password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}
